<div class="flex flex-col p-5">
  <h1 class="font-bold text-xl text-gray-700">
    <faicon [icon]="'faHandshake'" class="mr-2"></faicon>Thank you for
    registering
  </h1>
  <p class="mt-2">
    We have sent a confirmation email to
    <strong> {{ email$ | async }}</strong
    >. Please check your email and click on the link to verfiy your email
    address.
  </p>

  <div class="mt-2">
    <!-- (click)="authService.SendVerificationMail()" -->
    <button
      class="border border-transparent rounded-md bg-indigo-500 px-3 py-1 font-bold text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      <faicon [icon]="'faEnvelope'" class="mr-2"></faicon> Resent Email
    </button>
  </div>
</div>
