<div class="p-5 space-y-8">
  <h1 class="font-bold text-xl text-gray-700">
    <faicon [icon]="'faCloudUploadAlt'" class="mr-2"></faicon>Upload Case
  </h1>

  <form [formGroup]="caseForm">
    <div class="space-y-2">
      <p>
        Please fill all the <strong>required<sup>*</sup></strong> fields:
      </p>
      <!-- The Case indentifier -->
      <div>
        <fa-input
          [required]="true"
          [icon]="'faClipboardCheck'"
          [label]="'Your Case indentifier'"
          formControlName="caseID"
        ></fa-input>
      </div>
      <!-- The optimization program and version -->
      <div class="flex flex-row justify-between">
        <div>
          <fa-input
            [required]="true"
            [icon]="'faCogs'"
            [label]="'Your optimization software'"
            formControlName="optProg"
          ></fa-input>
        </div>
        <div>
          <fa-input
            [required]="true"
            [icon]="'faCodeBranch'"
            [label]="'Version'"
            formControlName="optProgVersion"
          ></fa-input>
        </div>
      </div>
      <!-- DropZone and uploaded files -->
      <div>
        <input type="hidden" formControlName="caseFiles" />
        <label class="block text-sm font-medium text-gray-700">
          Your case files:
        </label>
        <div
          class="{{
            isHovering
              ? 'flex flex-col mt-2 items-center p-1 border-2 border-solid border-red-800 bg-red-300'
              : 'flex flex-col mt-2 items-center p-1 border-2 border-dashed border-red-400'
          }}"
          dropzone
          (hovered)="toggleHover($event)"
          (dropped)="onDrop($event)"
        >
          <h3>Optistructure Cloud</h3>
          <p>Drag and Drop your files</p>
        </div>
        <div *ngFor="let file of files">
          <upload-task [file]="file" (fID)="receive($event)"></upload-task>
        </div>
      </div>
      <!-- Legal Confirmations -->
      <div class="flex items-center">
        <input
          type="checkbox"
          class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          formControlName="readInfos"
        />
        <label class="ml-2 block text-sm text-gray-900">
          Read and provided all required info
        </label>
      </div>
      <div class="flex items-center">
        <input
          type="checkbox"
          class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          formControlName="holdIP"
        />
        <label class="ml-2 block text-sm text-gray-900">
          Confirm that you hold the IP right for the uploads
        </label>
      </div>

      <div>
        <fa-button
          [disabled]="caseForm.invalid"
          (click)="caseForm.valid && submit()"
          [text]="'Submit'"
          [icon]="'faSave'"
        ></fa-button>
      </div>
    </div>
  </form>

  <div class="text-xs space-y-2">
    <a name="#info" class="font-semibold">IMPORTANT NOTICE</a>
    <p>
      In case that the version of SAP2000 used for developing OM is different to
      the OptiStructure's one, the client will be asked to translate OM to the
      OptiStructure's version and provide the latter one.
    </p>
    <p>
      MODEL VERIFICATION: In order to define the basis of comparison
      OptiStructure provides access to the client to one of it’s PCs (OSPC:
      OptiStructure’s PC). Before starting working with the original model (OM)
      to be optimized, the client using OSPC needs to confirm that the OM
      satisfies all the design checks and that no errors exist in the OM by
      performing analysis & design (A&D). More specifically, after performing
      analysis in the OM all the design checks required (depending on the
      material, i.e. steel, concrete, composite, etc) need to be performed.
    </p>
    <h1 class="font-semibold">Design Bounds</h1>
    <p>
      The design bounds for all section properties to be optimized (allowed to
      change) need to be provided. More specifically, for the case of section
      properties defined by the cross-sectional dimensions lower, upper and step
      needs to be provided.
    </p>
    <h1 class="font-semibold">Connectivity</h1>
    <p>
      Any connectivity constraints need to be provided. For example, the width
      of a beam needs to be equal or less than the width of the shear walls for
      those beams and shear walls (of specific cross-section) that are
      connected. It is very crucial that no connectivity restriction is violated
      at the initial model provided by the client and verified in the OSPC
    </p>
    <h1 class="font-semibold">Additional (external) design checks</h1>
    <p>
      All extra (external to the structural analysis/design software)
      constraints that are needed (in addition to those performed by the
      structural analysis/design software used by the client, e.g. the designs
      checks of ETABS), like modal mass constraint, drift or lateral
      displacement limits, needs to be provided. Detailed description on how the
      additional design checks are performed needs to be provided as well (e.g.
      the excel sheets that are used by the design engineer of the OM to perform
      these extra/additional checks)
    </p>
  </div>
</div>
